* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* обнуление стилей */


html, body {
    height: 100%;
}

body {
    font-family: 'Rubic', serif;
}

.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container-head {
    flex: 0;
    background: #202020;
    display: grid;
    grid-template-columns: 0.5fr 0.25fr 0.5fr 0.5fr;
    align-items: center;
    grid-template-areas:
        "logo text title exit"
}

.header__image {
    grid-area: logo;
    justify-self: right;
    align-self: center;
}

.header__text {
    grid-area: text;
    color: #FFF;
    text-shadow: 0px 3px 3px rgba(181, 181, 181, 0.50);
    font-family: Rubik;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    font-size: 24px;
    align-self: center;
    justify-self: left;
    padding: 10px;
}

.header__title {
    grid-area: title;
    justify-self: left;
    align-self: center;
    color: #9F9F9F;
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 520px) {
    .header__title {
        font-size: 18px;
    }

}

@media (max-width: 520px) {
    .header__title {
        display: none;
    }
}

.patch-button-exit {
    grid-area: exit;
    font-weight: 350;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background: #FE4E17;
    cursor: pointer;
    height: 40px;
    padding: 10px;
    align-self: center;
}

footer {
    flex-shrink: 0;
    display: flex;
    width: 100%;
    height: 30px;
    background: #202020;
    justify-content: center;
    align-items: center;
}

.footer__title {
    color: #9F9F9F;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}