.content {
    background-image: url(../assets/getusers_background.png);
    flex: 1 0 auto;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container-main {
    display: flex;
    flex-direction: column;
}

.main__title {
    display: flex;
    justify-content: center;
}

h2.text {
    color: #f7f4f3;
    font-size: 20px;
    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.text {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.main__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    gap: 10px;
}

.user {
    display: grid;
    background: rgba(20, 20, 20, 0.80);
    border-radius: 10px;
    color: #dddada;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 20px;
    margin: 10px;
    grid-template-rows: repeat(10, auto);
}

@media (max-width: 520px) {
    .user {
        min-width: 300px;
        font-size: 14px;
    }
}

.user-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 520px) {
    .user-email {
        flex-direction: column;
        font-size: 10px;
        padding: 5px;
    }
}

.delete-button-submit {
    font-weight: 350;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    background: #808080;
    cursor: pointer;
    padding: 10px;
}

.delete-button-submit:hover {
    background: #d62c2c;
}

@media (max-width: 520px) {
    .delete-button-submit {
        font-size: 10px;
        padding: 5px;
    }
}

.subscriptionGGP {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 10px;
}

.toggle-bg {
    background: #ccc;
    display: block;
    float: left;
    height: 7px;
    position: relative;
    width: 26px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 0 #fff, inset 0 0 2px #d7dee3, inset 0 1px 0 #d7dee3, inset 0 1px 5px #d7dee3;
}

.toggle-bg input {
    height: 28px;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: -10px;
    width: 36px;
    z-index: 2;
}

.switch {
    background: #ccc;
    display: block;
    float: left;
    height: 14px;
    left: -1px;
    /* Это – начальная точка. При добавлении border radius немного виден фон, если использовать left: 0;, поэтому лучше всего применить -1px.*/
    position: relative;
    top: -3px;
    /* ...Чтобы отцентрировать его по вертикали */
    width: 14px;
    z-index: 1;
    /* Помните, он должен быть под невидимыми input-ами */
    border-radius: 8px;
    transition: left .2s ease;
}

.toggle-bg input:checked~.switch {
    left: -1px;
}

/* Исходная позиция тумблера */
.toggle-bg input~:checked~.switch {
    left: 13px;
    background: #FE4E17;
}

/*окончательная относительная позиция переключателя */
.toggle-bg input:checked {
    z-index: 0;
}

.subscription-class {
    display: inline;
    align-items: center;
    justify-content: start;
}

.collaps {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.class-buttons {
    display: flex;

    transition: max-height 0.2s ease-out;
}

.ggp-classes {
    display: flex;
    align-items: center;
    padding: 10px;
}

.classes-letter {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;
}

.ggp-classes-sub {
    font-weight: 350;
    font-size: 14px;
    color: white;
    width: 35px;
    height: 35px;
    margin: 6px;
    text-align: center;
    border-radius: 16px;
    background: #888585;
    cursor: pointer;

}

.A-class-button-submit:hover{
    box-shadow: 0 0 8px #f17575;
}

.A-class-button-submit.active {
    background: #f17575;
    box-shadow: 0 0 10px #f17575;
}

.B-class-button-submit:hover{
    box-shadow: 0 0 10px #6975dd;
}

.B-class-button-submit.active {
    background: #6975dd;
    box-shadow: 0 0 10px #6975dd;
}


.C1-class-button-submit:hover,
.C2-class-button-submit:hover,
.C3-class-button-submit:hover .C1-class-button-submit.active,
.C3-class-button-submit:hover {
    box-shadow: 0 0 10px #54ca1d;
}

.C1-class-button-submit.active,
.C2-class-button-submit.active,
.C3-class-button-submit.active {
    background: #54ca1d;
    box-shadow: 0 0 10px #54ca1d;

}

.D1-class-button-submit:hover,
.D2-class-button-submit:hover,
.D3-class-button-submit:hover,
.D4-class-button-submit:hover {
    box-shadow: 0 0 10px #e6b83c;
}

.D1-class-button-submit.active,
.D2-class-button-submit.active,
.D3-class-button-submit.active,
.D4-class-button-submit.active {
    background: #e6b83c;
    box-shadow: 0 0 10px #e6b83c;
}

.N-class-button-submit:hover{
    box-shadow: 0 0 10px #d8d7d5;
}
.N-class-button-submit.active {
    background: #d8d7d5;
    box-shadow: 0 0 10px #d8d7d5;
}

.user-email h2 {
    display: inline-flex;
    justify-content: center;
    border: #9F9F9F solid 1px;
    border-radius: 3px;
    font-size: 26px;
    padding: 10px;
}

@media (max-width: 520px) {
    .user-email h2 {
        font-size: 18px;
    }
}

.tg-id {
    padding: 10px;
    display: none;
}


.subscriptionPercent {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 10px;
}

.subscrStartEnd {
    display: none;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 10px;
}

@media (max-width: 520px) {
    .subscrStartEnd {
        display: flex;
        flex-direction: column;
    }
}

.subscriptionStart {
    padding: 10px;
}

.subscriptionEnd {
    padding: 10px;
}

.subscriptionOffline {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 10px;
}

.subscriptionWR {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    padding: 10px;
}

.regDate {
    padding: 10px;
}

@media (max-width: 520px) {
    .regDate {
        font-size: 12px;
    }
}

.role {
    padding: 10px;
}

.check-box {
    justify-self: end;
    align-self: center;
}

.check-box input {
    accent-color: #FE4E17;
    margin: 10px;
}

.title {
    justify-self: start;
}

/* стили кнопки сохранить изменения
.patch-button-submit {
    margin: 0px auto;
    display: block;
    font-weight: 350;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background: #FE4E17;
    cursor: pointer;
    height: 40px;
    padding: 10px;
}

@media (max-width: 520px) {
    .patch-button-submit {
        font-size: 12px;
    }
}*/