* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
    font-family: 'Rubik', serif;
}

main {
  height: 100vh;
  background-image: url(../assets/login_background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-fields input {
  height: 26.082px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  background-color: rgba(20, 20, 20, 0);

}
input:focus {
  outline: none;
  border: #4446bb;
}

@media (max-width: 570px) {
  input {
    font-size: 14px;
    margin: 5px;
  }
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(20, 20, 20, 0.97);
  animation-name: fadeForm;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: .9;
    }
}

@media (max-width: 570px) {
  .main-form {
    width: 67%;
  }
  
}

.form-title {
  margin-top: 20px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Rubik;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}

@media (max-width: 570px) {
  .form-title {
    margin: 10px 0px;
    font-size: 20px;
  }
  
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-field {
    padding-top: 20px;
}

hr {
  width: 70%;
  height: 1px;
  background: #FFF;
  margin-top: 5px;

}

@media (max-width: 570px) {
  hr {
    width: 70%;
  }

}

.error {
  text-align: center;
  display: block;
  color: rgba(226, 30, 30, 0.90);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
  padding-bottom: 7px;
  margin-bottom: 13px;
  margin-top: 20px;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: block;
  font-weight: 350;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  background: #FE4E17;
  cursor: pointer;
  padding: 10px;
  width: 40%;
}

.button:hover {
    background-color: grey;
}

a.button {
    text-decoration: none;
}

@media (max-width: 570px) {
  input.button {
    font-size: 16px;
  }
}

.toregform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.toregform > p, a {
  color: #686868;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2px;
  padding-right: 2px;
  justify-content: center;
  margin: 10px 2px;
}

.toreg {
  text-decoration: underline;
}

@media (max-width: 570px) {
  .toregform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}