* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: url(../assets/asfalt-foto-108.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    color: rgb(92, 88, 88);
    height: 41px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    font-style: normal;
    line-height: normal;
    padding-left: 5px;
    margin-bottom: 5%;
}

input:focus {
    outline: none;
    border: #4446bb;

}

.main-form {
    opacity: 0;
    max-width: 394px;
    height: 280px;
    width: 390px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: rgb(190, 190, 190);
    background-position: center;
    padding: 16px 33px 16px 33px;
    animation-name: fadeForm;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: .9;
    }
}

.form-title {
    text-align: center;
    color: #333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 12px;
}

/*.icon {
    width: 20%;
    display: flex;
    margin-right: 10px;
}*/

/*.form-fieldLog {
    width: 70%;
    display: inline-flex;
    margin-left: 10px;
}*/

.form-fie {
  margin-bottom: 5px;
}

.error {
    width: 85%;
    text-align: center;
    display: block;
    color: #e21e1e;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 6px;
    padding-bottom: 7px;
    margin-bottom: 5px;
}

.button {
    font-weight: 400;
    font-size: 20px;
    display: inline;
    width: 90px;
    height: 35px;
    flex-shrink: 0;
    color: #ececec;
    border-radius: 5px;
    background: #474747;
    cursor: pointer;
}

.button:hover {
    background-color: grey;
}

a.button {
    text-decoration: none;
}

.pasForget {
    font-size: 16px;
    color: #333;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: inline;
    margin-left: 55px;
    padding-left: 2px;
    padding-right: 2px;
}


/*.button-here {
    display: inline;
    border-radius: 10px;
    background: #474747;
    width: 44px;
    height: 20px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-transform: lowercase;
    padding-left: 5px;
    padding-right: 5px;
}

.button-here:hover {
    background-color: grey;
} */