* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнуление стилей  */
body {
  font-family: 'Roboto', serif;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-image: url(../assets/close-up-motorcyclist-with-helmet\ 1.png);
  background-size: cover;
}

input {
  width: 80%;
  padding-left: 10px;
  height: 26.082px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  background-color: rgba(20, 20, 20, 0);
  margin-left: 46px;
  margin-bottom: 1px;
}

@media (max-width: 570px) {
  input {
    font-size: 14px;
    margin: 5px;
  }
  
}

.main-form {
  opacity: 0;
  max-width: 394px;
  width: 390px;
  height: 476px;
  border-radius: 10px;
  background: rgba(20, 20, 20, 0.97);
  animation-name: fadeForm;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeForm {
  0% {
    opacity: 0;
  }

  25% {
    opacity: .25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: .9;
  }
}

@media (max-width: 570px) {
  .main-form {
    width: 280px;
    height: 70%;
  }
  
}

.form-title {
  margin-left: 95px;
  margin-top: 34px;
  margin-bottom: 45px;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 201px;
  height: 37.828px;
  flex-shrink: 0;
  text-align: right;
}

@media (max-width: 570px) {
  .form-title {
    margin: 10px 0px;
    font-size: 20px;
  }
  
}

hr {
  width: 313px;
  height: 1px;
  background: #FFF;
  margin-left: 46px;
  margin-bottom: 12px;
}

@media (max-width: 570px) {
  hr {
    width: 80%;
    margin: 0px 0px 0px 15px;
  }

}

.button-row {
  display: block;
}

.button {
  margin-bottom: 23px;
  margin-left: 20%;
  font-weight: 350;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  background: #FE4E17;
  cursor: pointer;
  width: 233px;
  height: 63px;
}

.button:hover {
  background-color: grey;
}

a.button {
  text-decoration: none;
}

@media (max-width: 570px) {
  .button {
    margin: 5px 0px 5px 15px;
    width: 80%;
    font-size: 16px;
    height: 40px;
  }
}

.error {
  text-align: center;
  display: block;
  color: rgba(226, 30, 30, 0.90);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
  padding-bottom: 7px;
  margin-bottom: 13px;
  margin-top: 40px;
}

@media (max-width: 570px) {
  .error {
    font-size: 14px;
    margin-top: 10px;
  }
}

.divider {
  display: inline;
  color: #686868;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 20px;
}

.button-here {
  width: 106px;
  height: 28.848px;
  display: inline;
  border-radius: 5px;
  background: #474747;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 20px;
}

.button-here:hover {
  background-color: grey;
}

@media (max-width: 570px) {

    .button-here {
      font-size: 12px;
      display: block;
      height: 20px;
      width: 60px;
      padding: 5px;
      margin: 10px 0px 0px 15px;
    }

}