<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/getusers.css">
    <link rel="icon" href="../static/assets/rabbitIco.png">
    <title>Зарегистрированные пользователи</title>
</head>

<body>
    <div class="wrapper">
        <div class="container-head" role="banner">
            <div class="header__image">
                <img src="../static/assets/logo_rabbit.png">
            </div>
            <div class="header__text">
                RMG
            </div>
            <div class="header__title">
                <p>Все зарегистрированные пользователи</p>
            </div>
        </div>
        <main class="main" role="main">
            <div class="container-main">
                <div class="main__title">
                    <h2 class="text">Если вы это видите - значит успешно авторизовались и это хорошо...</h2>
                </div>
                <div class="main__user">
                    {% for user in users %}
                    <ul class="user">
                        <li class="email"> {{user.email}}</li>
                        <li>Телеграм id:<br>{{user.telegram_id}}</li>
                        <li>Подписан на GGP:<br>[{{user.sub_ggp}}]</li>
                        <li>Подписан на проценты:<br>[{{user.sub_ggp_percent}}]</li>
                        <li>От: {{user.ggp_percent_begin}}</li>
                        <li>До: {{user.ggp_percent_end}}</li>
                        <li>Подписан на офлайн:<br>[{{user.sub_offline}}]</li>
                        <li>Подписан на мировой рекорд:<br>[{{user.sub_world_record}}]</li>
                        <li>Дата регистрации:<br>{{user.registered_at}}</li>
                        <li>Роль: {{user.role_id}}</li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </main>
        <footer class="footer" role="contentinfo">
            <div class="container-footer">
                <p class="footer__title">
                    Designed by Pavel
                </p>
            </div>
        </footer>
    </div>
</body>

</html>