<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main-page.css">
  <link rel="icon" href="/static/assets/rabbitIco.png">
  <title>Главная</title>
</head>

<body>
  <div class="wrapper">
    <header class="header">
        <div class="header__row">
          <div class="header__image">
            <img src="/static/assets/logo_rabbit.png">
        </div>
      </div>
    </header>
    <div class="content">
      <div class="hi">
        <div class="container">
          <div class="hi__row">
            <div class="hi__body">
              <div class="hi__title">Выбирите класс</div>
              <div class="hi__listsDropDown">
                <button onclick="myFunction()" class="hi__listDropBth">Выбор класса</button>
                <div class="drop__content" id="myDropDown">
                  <a href="#">Класс A</a>
                  <a href="#">Класс B</a>
                  <a href="#">Класс C1</a>
                  <a href="#">Класс C2</a>
                  <a href="#">Класс C3</a>
                  <a href="#">Класс D1</a>
                  <a href="#">Класс D2</a>
                  <a href="#">Класс D3</a>
                  <a href="#">Класс D4</a>
                  <a href="#">Класс N</a>
                </div>
                <button onclick="myFunction2()" class="hi__listDropBth2">Выбор спортсмена</button>
                <div class="drop__content2" id="myDropDown2">
                  <a href="#">Жегин</a>
                  <a href="#">Сафонов</a>
                  <a href="#">Дивенков</a>
                  <a href="#">Елисеева</a>
                  <a href="#">Симдянкин</a>
                  <a href="#">Жуков</a>
                  <a href="#">Сизякин</a>
                  <a href="#">Лукашин</a>
                </div>
                <button onclick="myFunction3()" class="hi__listDropBth3">Выбор мотоцикла</button>
                <div class="drop__content3" id="myDropDown3">
                  <a href="#">Хонда</a>
                  <a href="#">Анаконда</a>
                  <a href="#">Ямаха</a>
                  <a href="#">Хуяха</a>
                  <a href="#">Кавасаки</a>
                  <a href="#">Хуяссаки</a>
                  <a href="#">КТМ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer__row">
          <div class="footer__text">Футер</div>
        </div>
      </div>

    </footer>
  </div>
  <noscript>Turn on JS</noscript>
  <script src="/static/js/main-page.js"></script>
</body>

</html>
