<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="templates/register.css">
    <title>RabbitMG Registration</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </head>
<script>
    const registrationNewUser = () => {
        const email = document.getElementById("user_email").value;
        const password = document.getElementById("user_password").value;
        window.location.href = `/auth/register/email=${email}password=${password}`;
    }
</script>
  <body>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <h1 class="form-title">Регистрация</h1>
            <div class="form-fields">
                <div class="form-field">
                    <input id="user_email" type="text" placeholder="E-Mail">
                </div>
                <div class="form-field">
                    <input type="password" placeholder="Пароль">
                </div>
                <div class="form-field">
                    <input id="user_password" type="password" placeholder="Повторите пароль">
                </div>
            </div>
        <div class="form-buttons">
            <button class="button" onclick="registrationNewUser()">Зарегистрироваться</button>
            <div class="divider">Если у вас уже есть аккаунт, нажмите</div>
        </div>
        </div>
    </main>
  </body>
</html>